<div class='list-group' id="mollie-methods-list" style="margin-left: 50px">
  <% @payment_methods.each do |method| %>
      <label class='list-group-item' style="display: block;">

        <%= radio_button_tag  "order[payments_attributes][][mollie_method_id]", method['id'], false %>
        <img src="<%= method['image']['normal'] %>">
        <%= method['description'] %>
      </label>
      <% if method['id'] == 'ideal' %>
          <div id="mollie-issuers-list" style="margin-left: 50px">
            <% @issuers.each do |issuer| %>
              <label class='list-group-item' style="display: block;">
                <%= radio_button_tag  "order[payments_attributes][][issuer_id]", issuer[:id], @issuers.first == issuer %>
                <%= issuer[:name] %>
              </label>
            <% end %>
          </div>
      <% end %>

  <% end %>
</div>

<script>
  $(function(){
      $('#mollie-methods-list').on('change', function(){
          $('#mollie-methods-list input').each(function(){
              if( $(this).prop("checked") ) {
                  if( $(this).prop('value') == 'ideal') {
                      $('#mollie-methods-list #mollie-issuers-list').show();
                  }
              } else {
                  if( $(this).prop('value') == 'ideal') {
                      $('#mollie-methods-list #mollie-issuers-list').hide();
                  }
              }
          });
      });
  });
</script>
